[Unit]
Description=gunicorn daemon (__APP__)
After=network.target

[Service]
User=__APPUSER__
Group=www-data
WorkingDirectory=__FINALPATH__/app/
ExecStart=//__FINALPATH__/env/bin/gunicorn \
--workers 3 \
--bind unix:__NETLOC__ \
-e DJANGO_SETTINGS_MODULE=prod_settings app.wsgi

[Install]
WantedBy=multi-user.target

